:root {
  --primery-text-color: #212121;
  --accent-color: #2196f3;
  --text-color: #757575;
  --fons-color: #ffffff;
}
.body {
  background-color: var(--fons-color);
  color: var(--primery-text-color);
}
/* sait nav */
.accent {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.sait-nav .item {
  color: var(--primery-text-color);
}
.sait-nav .link:hover {
  color: var(--accent-color);
}
.sait-nav .link:focus {
  color: var(--accent-color);
}
/* Header */
.header a {
  color: var(--primery-text-color);
}
.header a:hover {
  color: var(--accent-color);
}
.header a:focus {
  color: var(--accent-color);
}
/* Hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--fons-color);
}
/* Button */
.button {
  color: var(--fons-color);
  background: var(--accent-color);
}
/* Section */
.section-title {
  color: var(--primery-text-color);
}
/* Features */
.features-title {
  color: var(--primery-text-color);
}
.features-text {
  color: var(--text-color);
}
.naim {
  color: var(--primery-text-color);
}
.work {
  color: var(--text-color);
}
/* Footer */
.footer {
  background-color: #2f303a;
}
.address-text {
  color: var(--fons-color);
}
